*,
html {
    margin: 0;
    padding: 0;
}

.container {
    height: 10px;

}

.container-navbar {
    background-color: gray;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 15px;
    margin: 5px;
    color: #000;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: #000;
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar {
    color: blue;
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: rgb(74, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.a-content {
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: #000;
    text-decoration: none;
    font-size: 50px;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-content {
    width: 75%;
    height: 75%;
}

.container-footer {
    background-color: #282928;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.h1-footer {
    font-size: 40px;
}